.search-container{
    text-align: center;
    background-color: rgb(65, 65, 100);
    line-height: 50px;
}
.search-container input{
    width: 75%;
    padding: 3px;
    border: 2px solid gray;
    border-radius: 3px;
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 2px solid lightgray;
    margin-right: 10px;
    margin-left: 100px;
}